

header{

position: absolute;
width: 100%;
height: 76px;
left: 0px;
top: 0px;

background: #B952EA;


}

header span{
        position: absolute;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 12px;
        text-align: center;
        font-size: 40px;
        font-family: 'Alfa Slab One', cursive;

        color: #FFFFFF;
    }
    
    .rectangle{
    position: absolute;
    width: 100%;
    height: 31px;
    left: 0px;
    top: 76px;
    
    background: #F2F548;}

    .desconto span {
position: absolute;
width: 100%;
height: 34px;

top: 76px;
text-align: center;

font-family: 'Alfa Slab One';

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;

color: #000000;
    }

    

#comprar {
    position: absolute;
    width: 466px;
    height: 118px;
    left: 960px;
    top: 640px;
    
    background: #B952EA;
    border-radius: 30px;

    
    font-family: 'Alfa Slab One';

    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 125px;
    text-align: center;


    color: #FFFFFF;

    cursor: pointer;
    
    
    
}

.iphone {
    position: absolute;
width: 500px;
height: 500px;
left: 325px;
top: 290px;

background: url(image.png);
}

.info {

position: absolute;
width: 776px;
height: 69px;
left: 960px;
top: 290px;
line-height: 34.23px;

font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;

color: #000000;

}

.ant_preco{

position: absolute;
width: 233px;
height: 59px;
left: 960px;
top: 376px;
text-decoration: line-through black 2px;

font-family: 'Anek Odia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 59px;
/* identical to box height */


color: #000000;


}

.estoque span {

position: absolute;
width: 370px;
height: 27px;
left: 1008px;
top: 765px;

font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FE3838;
}

.preco {

position: absolute;
width: 442px;
height: 155px;
left: 960px;
top: 415px;

font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 96px;

color: #B952EA;

}

.variação span {

position: absolute;
width: 371px;
height: 102px;
left: 961px;
top: 510px;

font-family: 'Anek Odia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

color: #000000;
}